* {
    margin: 0px;
    padding: 0px;
    
}

.hidden {
    display: none;
}

.container {
    background-image: linear-gradient(rgb(216, 236, 245), rgb(104, 167, 245))
}

.quickLinksBar {
    display: flex;
    justify-content: flex-end;
    list-style: none;
    background: orange;
}

.quickLinksBar li {
    flex-basis: 10rem;
    text-align: end;
    padding: 10px 10px 10px 0px;
}


form.example {
    margin: auto;
    max-width: 300px;
    display: inherit;
    position: relative;
    right: 25%;
}

form.example input[type=text] {
    padding: 10px;
    font-size: 17px;
    border: 1px solid grey;
    float: left;
    width: 80%;
    background: transparent;
    border-left: none;
}

form.example button {
    float: left;
    width: 20%;
    padding: 10px;
    background: #2196F3;
    color: white;
    font-size: 17px;
    border: 1px solid grey;
    border-left: none;
    cursor: pointer;
}

form.example button:hover {
    background: #0b7dda;
}

/* Clear floats */

form.example::after {
    content: "";
    clear: both;
    display: table;
}

.headerLogo {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.headerLogo p {
    font-size: 100px;
}

.headerLogo h3 {
    text-align: center;
}

section div.styleMeniu ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    font-size: 30px;
}

.inactive {
    padding: 12px 45px;
    text-align: center;
    flex-grow: 2;
    border: 1px solid red;
    border-left: none;
}

.active {
    padding: 12px 45px;
    text-align: center;
    flex-grow: 2;
    border: 1px solid red;
    background: #75b6ebc0;
    cursor: pointer;
    border-bottom: none;
    border-left: none;
}

section div.styleMeniu ul li:first-child {
    border-left: 1px solid red;
}

section div.styleMeniu ul li:hover {
    background: #75b6ebc0;
    cursor: pointer;
}

#contentWrapper {
    display: flex;
    justify-content: space-around;
    margin: 20px;
}
.content{
    display: flex;
}
section div.left, .right {
    font-size: 100px;
}
footer{
    display: flex;
    justify-content: space-between;
    font-size: 40px;
    background-color: orangered;
    
}